*.env*
.vscode/
*venv/
.DS_Store
bin/
/.idea
.idea
.env
.vscode
*tmp/
*bin/
backend/bin/
backend/tmp/
uploads/
backend/uploads/
backend/proccessed_texts/
proccessed_texts
job
upoloads
processed_texts 